/* Header */

nav{
  background-color: white;
}

.logo-web{
  width: 100px;
  height: auto;
}

.logo-login{
  width: 40px;
  height: auto;
}

h2, h3 {
  font-family: "Roboto Condensed", sans-serif;
}

main{
  padding-top: 60px;
}

/* Carrusel */

#Carrusel-Inicios{
  width: 100%;
  height: 100px;
}

#Carrusel-Inicios h5{
  font-size: 40px;
  color: white;
}

#Carrusel-Inicios h5:hover{
  color: #e5941a;
}

#Carrusel-Inicios a{
  text-decoration: none;
}


#Carrusel-Inicios img{
  border-radius: 30px;
    object-fit: cover;
  height: 470px;
}

.anu-front{
  object-fit: cover;
  width: 100%;
  height: 79%;
  border-radius: 20px;
  object-position: center;
  margin-top: 70px;
}

.Destados{
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 12px;  
  font-size: 50px;
  color: black;
}

.destacados{
  width: 100%;
}

@media (max-width: 600px) {
  #Carrusel-Inicios img{
  height: 200px;
}
  #Carrusel-Inicios{
    margin-bottom: 60px;
}
  .anu-front{
    width: 100%;
    
  }
  #Carrusel-Inicios h5{
    font-size: 20px;
    color: white;
  }

  #Carrusel-Inicios p{
    font-size: 10px;
  }

  .Destados{
  font-size: 40px;
}

#movil-use-front{

height: 200px;
padding-bottom: 40px;

}
}
/* Reportaje */

#reportaje{
  padding: 50px;
  color: white;
  background-color: #2B2B2B;
}

#reportaje h3{
  font-size: 40px;
}

#section-report{
  width: 100%;
}

#reportaje h3{
  padding-left: 150px;
}

#video-report{
  width: 80%;
  height: 500px;
}

@media (max-width: 600px){
  #reportaje h3{
    padding-left: 20px;
    font-size: 30px;
}
#video-report{
  width: 100%;
  height: auto;
}
#reportaje{
  padding: 30px 30px;
}

#reportaje iframe{
  width: 95%;
}

}

/*Video publicidad*/

#public-video{
  background-color: #D4D4D4;
  margin-bottom: 40px;
}

#public-video iframe{
  padding: 60px;
  width: 60%;
}

@media (max-width: 600px) {
  #public-video iframe{
  padding: 40px;
  width: 100%;
}
}

/* Post */

#Generate img{
  border-radius: 15px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#Generate h2{
  color: black;
  font-size: 30px;
}

#Generate a{
  text-decoration: none;
}

#Generate h2:hover{
  color: #e5941a;
}

#Generate span {
  color: #e5941a;
}

.Ultimas-notis{
  margin-left: 30px;
  color: black;
  font-size: 35px;
}

.publicidad-estatica{
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 600px) {

    .publicidad-estatica{
      margin-top: 30px;
    }

}


