.navbar-brand img{
    width: 130px;
}

#img-Carrusel {
    border-radius: 20px;
    height: 450px;
    width: 500px;
    object-fit:cover;
}

#front-page-menu{
    background-color: rgb(255, 247, 233);
    padding: 12px;
}

#front-page-menu button{
    color: black;
all: unset;}

#front-page-menu button:hover{
    color: rgb(146, 146, 146);
}

.post-Init img{
    border-radius: 20px;
    height: 180px;
    width: 100%;
    object-fit:cover;
}